HASH_SECRET=<some secret>
CRON_SECRET=<some secret>

APP_URL=http://localhost:3000
ADMIN_URL=http://localhost:3001

DATABASE_HOST=http://127.0.0.1:3900
DATABASE_USERNAME=root
DATABASE_PASSWORD=root
DATABASE_NAME=energyleaf
DATABASE_PUSH_URL=mysql://root@127.0.0.1:3309/energyleaf
DATABASE_LOCAL_URL=mysql://root:root@127.0.0.1:3306/energyleaf

RESEND_API_MAIL=<mail>
RESEND_API_KEY=<key>
ADMIN_MAIL=<admin mail url>

BLOB_READ_WRITE_TOKEN="<vercel blob token | optional>"
